
.header {
  background:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:7px 67px;
}

.header .logo {
  font-weight: bolder;
  color: black;
}

.header .logo span {
  color: var(--blue);
  font-size: 98px 84px;
}

.header .navbar a {
  color: black;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.header .navbar a:hover {
  color: var(--blue);
}

.header .icons i {

  color: gray;
  cursor: pointer;
  margin-right: 3rem;
}

.header .icons i:hover {
  color: var(--blue);
}

#login-btn {
  font-size: 3.2rem;
}

#menu-bar {
  color: rgb(255, 255, 255);
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
}
.col-md-2 {
  padding-bottom: 8px;
  padding-top: 8px;
}
.contain {
  padding-top: 8px;
}
.bt1 {
  border-radius: 50px;
}
.bnt {
  padding: 8px 8px 8px 8px;
}
.search {
  padding: 10px 10px 10px 10px;
}
.btsearch {
  padding: 8px 8px 8px 8px;
  border-radius: 60%;
  width: 200px;
  background-color: orange;
  color: white;
}
