html , body {
    height: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#header .h-center {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow:visible;
    text-overflow: initial;
}

#header .h-center .navbar a{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
    font-size: 0.85rem;
    color: black;
    flex-direction: column;
    text-decoration: none;
} 

#header .h-center .navbar a:hover{
    color: var(--main--color);
    border-bottom: .1rem solid var(--main--color);
    padding-bottom: .5rem;
}

.navbar{
    z-index: 99999999;
}
#header .h-right {
    display: flex;
    align-items: center;
    color: black;
}
.h__right-app-icon{
    margin-right: 24px;
    cursor: pointer;
    width: 27px;
}
.h__right-app-mess{
    margin-right: 24px;
    cursor: pointer;
    color: aqua;
    width: 27px;
}
.h__right-app-user{
    cursor: pointer;
    margin-right: 50px;
    color: grey;
    width: 40px;
}
